@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}


<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="~/assets/images/Ahmad3.jpg" alt="">
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1"> احمد رحیمی</h2>
                <div class="tagline mb-3">تحلیل گر ارشد</div>
                <div class="bio mb-4">
                    تحلیل ساخته شده است از یافتن یوزکیس ها و اکتور های سیستم
                    و سپس ساختن یوزکیس دیاگرام که در واقع ارتباط دهنده بین اکتورها و یوزکیس ها می باشد
                    و در نهایت طراحی دیاگرام های دیگه از جمله کلاس دیاگرام ,سیکوانس دیاگرام کولبوریشن دیاگرام . ...
                </div>
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="http://www.Baran-company.ir">
                        <i
                            class="fas fa-arrow-alt-circle-right ml-2">
                        </i>
                        <span class="d-none d-md-inline">
                            برو
                            به
                        </span> هسته فناور باران
                    </a>
                    <a class="btn btn-secondary mb-3" href="#">
                        <i class="fas fa-file-alt ml-2"></i>
                        <span class="d-none d-md-inline">مشاهده </span> نمونه کارها
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
@*<partial name="Projects"/>*@
@*@await Html.PartialAsync(partialViewName:"Projects", new List<Project>() )
*@
@await  Component.InvokeAsync(name:"Projects")

<div class="container">
    <hr>
</div>

<section class="latest-blog-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">آخرین مقالات</h2>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="~/assets/images/blog/blog-post-thumb-card-1.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                Top 3 JavaScript
                                Frameworks
                            </a>
                        </h5>
                        <p class="card-text">
                            هسته فناور باران در واقع یک شرکت دانش بنیان می باشد...
                        </p>
                        <p class="mb-0">
                            <a class="more-link" href="blog-post.html">ادامه مطلب</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="~/assets/images/blog/blog-post-thumb-card-2.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                About Remote
                                Working
                            </a>
                        </h5>
                        <p class="card-text">
                            هسته فناور باران در واقع یک شرکت دانش بنیان می باشد...
                        </p>
                        <p class="mb-0">
                            <a class="more-link" href="blog-post.html">ادامه مطلب</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="~/assets/images/blog/blog-post-thumb-card-3.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                A Guide to Becoming a
                                Full-Stack Developer
                            </a>
                        </h5>
                        <p class="card-text">
                            هسته فناور باران در واقع یک شرکت دانش بنیان می باشد...
                        </p>
                        <p class="mb-0">
                            <a class="more-link" href="blog-post.html">ادامه مطلب</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>